<% content_for :header_tags do %>
  <style>
    table.list thead th {white-space:normal;}
  </style>
<% end %>

<h1><%= l('cmi.label_CMI') %></h1>
<h2><%= l('cmi.label_profitability_menu') %></h2>

<% if @error %>
  Error
<% else %>
  <table>
    <tr>
      <% @columns_data.each do |col| %>
        <th><%= col['label'] %></th>
      <% end %>
    </tr>
    <% @projects.each do |p| %>
      <tr>
        <% @columns_data.each do |col| %>
          <td><%= p.instance_eval(col['method']) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= form_tag({ :controller => 'management', :action => 'profitability'}) do %>
    <%= select_tag 'columns',(options_for_select(get_profitability_columns('all',true), @columns)).html_safe, {:multiple => true} %>
    <%= select_tag 'service_filter',('<option value="">Cualquiera</option>' + options_for_select(@service_options, params['service_filter'])).html_safe %>
    <%= select_tag 'region_filter',('<option value="">Cualquiera</option>' + options_for_select(@region_options, params['region_filter'])).html_safe %>
    <%= submit_tag l('button_submit') %>
  <% end %>
<% end %>